@font-face {
    font-family: "Inter";
    src: url("/woff2/Inter-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/woff2/Inter-SemiBold.woff2");
    font-weight: 600;
    font-display: swap;
}

:root {
    --blue: #005EEF;
    --lightBlue: #D0E2FF;
    --baseText: #8F94A0;
    --blackText: #3D3D3D;
    --divider: #ECECEC;
    --globalContainer: 1100px;
    --globalLrPadding: 30px;
    --globalTbPadding: 40px;
    --interStack: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: var(--interStack);
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--baseText);
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3 {
    margin: 0 0 .4em 0;
}

p {
    margin: 0 0 1.2em 0;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3.5rem;
}

.logo {
    width: 300px;
    height: 70px;
    margin-bottom: 1rem;
}

.logo path {
    fill: var(--blue);
}

.globalContainer {
    width: var(--globalContainer);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--globalTbPadding) var(--globalLrPadding);
}

@media screen and (max-width: 1100px) {
    .globalContainer {
        width: 100%;
    }
}

.logoContainer {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .logoContainer {
        width: 100%;
    }
}

.subHeading {
    text-align: center;
}

.baseContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 260px;
    justify-content: center;
}

.pxRemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin: 0 0 4rem 0;
}

@media screen and (max-width: 768px) {
    .pxRemContainer {
        margin: 0 0 4rem 0;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

.inputField {
    padding: .8em 3.2rem .8em .8em;
    font-size: 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border: 2px solid var(--divider);
    border-radius: 10px;
    max-width: 260px;
    position: relative;
    background: transparent;
    transition: border .15s ease, box-shadow .15s ease;
    -webkit-transition: border .15s ease, box-shadow .15s ease;;
    color: var(--blackText);
    outline: none;
}

.inputField:focus {
    border: 2px solid var(--blue);
    box-shadow: 0 0 0 6px var(--lightBlue);
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.changeBase {
    font-size: .875rem;
    appearance: none;
    border: none;
    background: none;
    text-transform: uppercase;
    color: var(--blue);
    cursor: pointer;
}

.infoBaseBtn {
    margin-right: .325rem;
}

.inputFieldBase {
    margin: 0 1rem;
}

.inputFieldBase > input {
    width: 100px;
}

.inputFieldRem, .inputFieldPx, .inputFieldBase {
    position: relative;
    display: flex;
    align-items: center;
}

.inputFieldPx::after, .inputFieldBase::after {
    content: "Px";
    display: block;
    right: 1rem;
    position: absolute;
}

.inputFieldRem::after {
    content: "Rem";
    display: block;
    right: 1rem;
    position: absolute;
}

.inputFieldBaseInner:disabled {
    color: var(--baseText);
    -webkit-text-fill-color: var(--baseText);
}

.hoverUnderln {
    transition: text-decoration .2s ease;
}

.hoverUnderln:hover {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-thickness: 2px;
}

.bottomLinks {
    display: grid;
    align-content: center;
    position: absolute;
    bottom: var(--globalTbPadding);
}

.bottomLinks ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3.125rem;
    margin: 0;
    padding: 0;
}

.infoBaseTooltip {
    display: none;
    position: absolute;
    font-size: .825rem;
    background: var(--baseText);
    color: white;
    padding: 1em;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    top: 70px;
    line-height: 1.4;
    width: 260px;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .infoBaseTooltip {
        position: fixed;
        top: 25%;
        font-size: 1rem;
    }

    .baseContainer,.infoBaseTooltip {
        width: 300px;
    }
}

.showInfoBaseTooltip {
    display: flex;
}

.skewInAnim {
    animation: skewIn .5s ease;
    -webkit-animation: skewIn .5s ease;
}

.skewOutAnim {
    animation: skewOut .5s ease;
    -webkit-animation: skewOut .5s ease;
}

@keyframes skewIn {
    0% {
        transform: skewY(-5deg) rotate(5deg) translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: skewY(0) rotate(0) translateY(0);
        opacity: 1;
    }
}

@keyframes skewOut {
    0% {
        transform: skewY(0) rotate(0) translateY(0);
        opacity: 1;
    }

    100% {
        transform: skewY(-5deg) rotate(5deg) translateY(-30px);
        opacity: 0;
    }
}

@-webkit-keyframes skewIn {
    0% {
        transform: skewY(-5deg) rotate(5deg) translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: skewY(0) rotate(0) translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes skewOut {
    0% {
        transform: skewY(0) rotate(0) translateY(0);
        opacity: 1;
    }

    100% {
        transform: skewY(-5deg) rotate(5deg) translateY(-30px);
        opacity: 0;
    }
}

.overlay {
    background: white;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s ease;
}

.fadeOverlay {
    opacity: .7;
}

.changeBase svg {
    z-index: 6;
    position: relative;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
}

@media screen and (max-height: 768px) {
    .footer {
        position: relative;
    }
}

.footer svg {
    height: 320px;
}

@media screen and (max-width: 768px) {
    .footer svg {
        height: 240px;
    }
}

.copyBtn {
    margin-top: .625rem;
    margin-right: 1rem;
}

.inputWCopy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}